@model _804ManchesterHomeControl.ViewModels.AllDeviceCommandsViewModel

@{
    ViewBag.Title = "AllDeviceCommands";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>All Device Commands</h2>
<span id="DeviceCommandResult" style="color:Green"></span>
<table>

@foreach (KeyValuePair<String,Dictionary<Int32,String>> deviceCommands in Model.AllDeviceCommands) {
    <tr><th>@deviceCommands.Key</th></tr>
    
    foreach( KeyValuePair<Int32,String> deviceCommand in deviceCommands.Value ) {
        <tr>
            <td>
                @*@Html.ActionLink(deviceCommand.Value, "ExecuteDeviceCommand", new { DeviceCommandId = deviceCommand.Key })*@

                @Ajax.ActionLink(
                    deviceCommand.Value,
                    "ExecuteDeviceCommand", "Home", 
                    new { 
                        DeviceCommandId = deviceCommand.Key, 
                        randomParam = new Random().Next() }, 
                    new AjaxOptions() { UpdateTargetId = "DeviceCommandResult" })
            </td>
        </tr>
}
}

</table>
