@model _804ManchesterHomeControl.ViewModels.ChooseRoomViewModel

@{
    ViewBag.Title = "ChooseRoomView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ChooseRoomView</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
    </tr>

@foreach (KeyValuePair<Int32,String> item in Model.Rooms) {
    <tr>
        <td>
            @Html.ActionLink(item.Value, "ChooseActivity", new { RoomId = item.Key })
        </td>
    </tr>
}

</table>
