    @{
    ViewBag.Title = "Home Page";
}
<img src="../../Images/House.png" alt="House Picture" width="125px" />
@*<p>
    To learn more about ASP.NET MVC visit <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
</p>*@
<br />
<h2>
@Html.ActionLink("Want to control something?", "ChooseRoom", "Home" )
</h2>

