@using _804ManchesterHomeControl.Helpers;
@using _804ManchesterHomeControl.Models;
@{
    ViewBag.Title = "Insteon";
}

<h2>Lighting Control</h2>

@Ajax.ActionLink(
                    "Entryway On",
                    "MyExecuteAction", "Home",
                    new {
                        device=MyDeviceDatabase.Device.Insteon,
                        actionName = "Entryway On" }, 
                    new AjaxOptions() { UpdateTargetId = "MyActionResult" })
@Ajax.ActionLink(
                    "Entryway Off",
                    "MyExecuteAction", "Home",
                    new {
                        device=MyDeviceDatabase.Device.Insteon,
                        actionName = "Entryway Off" }, 
                    new AjaxOptions() { UpdateTargetId = "MyActionResult" })
<br />
<span id="MyActionResult" style="color:Green"></span>
<br />
<a href="http://192.168.0.100/" target="_blank">Open ISY994/PRO</a>

