@using _804ManchesterHomeControl.Helpers;
@using _804ManchesterHomeControl.Models;

@{
    ViewBag.Title = "IR";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>InfraRed (IR) Control</h2>

@{Random rnd = new Random();}

@Ajax.ActionLink("Learn Code", "LearnIRCode", "Home", new { }, new AjaxOptions() { UpdateTargetId = "LearnIRCodeResult" })
Learn Result:
<span id="LearnIRCodeResult" style="color:Green"></span>
<br />

@Ajax.ActionLink(
                    "Sony:Volume UP",
                    "SendIRCode", "Home", 
                    new { 
                        IRCode = MyDeviceDatabase.GetIRCode(MyDeviceDatabase.Device.SonyTV, "Volume Up"), 
                        randomParam = rnd.Next() }, 
                    new AjaxOptions() { UpdateTargetId = "SendIRCodeResult" })
<br />
@Ajax.ActionLink(
                    "Sony:Power",
                    "SendIRCode", "Home", 
                    new { 
                        IRCode = MyDeviceDatabase.GetIRCode(MyDeviceDatabase.Device.SonyTV, "Power"), 
                        randomParam = rnd.Next() }, 
                    new AjaxOptions() { UpdateTargetId = "SendIRCodeResult" })
<br />
<span id="SendIRCodeResult" style="color:Green"></span>